@import 'montserrat/stylesheet.css';

body {
  background: #0A0F18;
}

h1 {
  font-size: 7vw;
  font-family: "montserratextrabold";
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 1.5vw;
  font-family: "montserratregular";
  text-align: center;
  color: #fff;
}

h2 span {
  font-family: 'montserratmedium';
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form > * {
  margin: 0 5px;
}

input {
  font-size: 1.1em;
  background: #3D4A5B;
  font-family: "montserratlight";
  padding: 15px 20px;
  text-align: center;
  color: #757F8C;
  border: none;
  border-radius: 50px;
}

button {
  border-radius: 50px;
  background: #C22C38 ;
  color: #fff;
  font-size: 1.1em;
  border: none;
  font-family: "montserratlight";
  padding: 15px;
  /* text-transform: uppercase; */
  cursor: pointer;
  transition: .15s;
}

button:hover {
  transform: scale(1.1);
}
